header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    transition: 0.5s;
    z-index: 10000 !important;
}
header.scrolled{
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 2px solid var(--primary);
    border-image: linear-gradient(90deg , transparent , var(--primary) ,transparent) 30;
    backdrop-filter: blur(20px);
    padding: 10px 100px;
}
header .logo{
   /* font-family: cursive; */
    font-size: 35px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
}
.nav{
    
    display: flex;
}
.menu{
    color: #fff;
    font-size: 2em;
    transition: 0.5s;
    display: none;
    z-index: 10000;

}
.userItems{
    display: inline-flex;
    align-items: center;
    gap: 20px;
}
.userItems .icon{
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    box-shadow: -0px -2px 10px 3px rgba(226,213,213,0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.like{
    color: #fff;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 27px;
    right: 9px;
    background-color: red;
    font-size: 12px;
    position:absolute;

}
.bag{
     color: #fff;
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 27px;
    right: 9px;
    background-color: red;
    font-size: 12px;
    position:absolute; 
}